[Unit]
Description=Gunicorn Daemon to serve flask
After=network.target

[Service]
User=ec2-user
Group=ec2-user
WorkingDirectory=/home/ec2-user/flask-gunicorn/apps/
ExecStart=/home/ec2-user/flask-gunicorn/apps/venv/bin/gunicorn apps

[Install]
WantedBy=multi-user.target